html {
    background: #16161A;
    color: #FFFFFE;
    font-family: Helvetica;
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
.wrapper {
    max-width: 1100px;
    min-height: 100vh;
    padding-top: 150px;
    margin: 0 auto;
}
.hide {
    display: none;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #16161A;
    font-family: Ruda;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 44px;
    text-align: center;
    padding-top: 18px;
    border-bottom: 3px solid #FFFFFE;
    z-index: 99;
}
main {
    /*background: #16161A;*/
}
h1 {
    font-size: 36px;
}
h2 {
    font-size: 26pxq;
}
a {
    color: #FFFFFE;
    text-decoration: none;
}
input {
    background: #16161A;
    color: #FFFFFE;
    width: 300px;
    height: 30px;
    font-size: 24px;
    padding: 2px;
    border: unset;
    border-bottom: 1px solid #FFFFFE;
    outline: none;
    resize: none;
}

p.error {
    color: #B62C2C;
    font-size: 26px;
    text-align: center;
}

.title {
    font-family: Helvetica;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: center;
}
.form {
    padding-top: 30px;
    text-align: center;
}

.main__buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.main__button {
    width: 450px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: center;
    border: 3px solid #FFFFFE;
}
.main__button-text {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.admin__form {
    position: relative;
    margin-top: 197px;
}
.admin__button {
    width: 193px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    /*line-height: 207px;*/ /* на память, что я идиот */
    letter-spacing: 0em;
    text-align: center;
    border: 3px solid #FFFFFE;

    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
}
.admin__input-button {
    position: absolute;
    width: 26px;
    height: 26px;
    margin-left: -25px;
    background-image: url("../img/search.svg");
    cursor: pointer;
    border: none;
    background-color: #16161A;
}

/*.cell {*/
/*    float: left; !*Задаем обтекание*!*/
/*}*/
.wrap {
    display: table;
}
.search__cell-1 {
    display: table-cell;
    width: 534px;
}
.search__cell-2 {
    display: table-cell;
    width: 666px;
}
.search__button-1 {
    margin-top: 45px;
}
.search__button-2 {
    margin-top: 30px;
}
.search__info {
    margin-bottom: 30px;
}

.checkvoid__form {
    float: left;
    margin-bottom: 30px;
    padding: 4px;
    border-top: 1px solid #939393;
    border-bottom: 1px solid #939393;
}
.checkvoid__text {
    padding: 5px;
}
.checkvoid__button {
    margin-bottom: 5px;
    margin-top: 10px;
    margin-left: 5px;
}
.checkvoid__button-back {
    margin-top: 0;
    margin-right: 0;
}